/*body {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  padding-right: 260px;
  padding-left: 260px;
  padding-top: 130px;
  padding-bottom: 130px;
}*/

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  align-items: center;
  width: 600px;
}

h1 {
  font-family: 'lobster', sans-serif;
  font-size: 70px;
  color: white;
  width: 600px;
  height: 150px;
  background-color: #283e50;
  margin: 0;
  text-align: center;
}

p {
  font-family: 'arial', sans-serif;
  font-size: 25px;
  color: white;
  width: 600px;
  height: 250px;
  background-color: #283e50;
  text-align: center;
  margin: 0;
}

img {
  border-radius: 20px 20px 0px 0px;
  border: 0px solid black;
  width: 600px;
  height: 400px;
  margin: 0;
  display: block;
}

.tlacitko1 {
  background-color: #1fcca4;
  text-align: center;
  width: 600px;
  height: 70px;
  font-size: 30px;
  font-family: 'arial', sans-serif;
  color: white;
  display: block;
  border-bottom: 1px #283e50 solid;
  padding-top: 30px;
}

.tlacitko2 {
  background-color: #0197f6;
  text-align: center;
  width: 600px;
  height: 70px;
  font-size: 30px;
  font-family: 'arial', sans-serif;
  color: white;
  display: block;
  padding-top: 30px;
}

.tlacitko1:hover {
  background-color: #1cbb96;
}

.tlacitko2:hover {
  background-color: #0090e9;
}

.container-pravidla {
  background-color: #283e50;
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.seznam {
  color: white;
  font-family: 'arial', sans-serif;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.5;
  margin: 1em;
  width: 1000px;
}

.kontejner-obrazky {
  border-radius: 0px 0px 0px 0px;
  align-items: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #283e50;
  /*text-align: center;*/
  /*border-radius: 5px 5px 0 0;*/
  line-height: 1.5;
  width: 1000px;
}

.pravidla-obr {
  /*width: 50%;*/
  border-radius: 0px 0px 0px 0px;
  justify-content: space-evenly;
}

figcaption {
  font-style: italic;
  line-height: 1.5;
  font-family: 'arial', sans-serif;
  color: white;
}

.tlacitko1:hover {
  background-color: #1cbb96;
}

.tlacitko2:hover {
  background-color: #0090e9;
}

@media (max-width: 520px) {
  .kontejner-obrazky {
    width: 500px;
  }
  .pravidla-obr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .seznam {
    width: 500px;
  }
}

.container-hra {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  max-width: 80vmin;
}

.container-ikonky {
  display: flex;
  align-items: right;
  flex-direction: row;
  padding: 50px;
}

.ikonka-hra {
  height: 50px;
  width: 50px;
  position: right;
}

.container-buttons {
  display: flex;
  align-items: center;
  flex-direction: flex-start;
  flex-wrap: wrap;
  opacity: 0.5;
}

.button-hra {
  height: 60px;
  width: 60px;
}
