/*image size - 600 horizontal x 486 vertical*/

body {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  background-repeat: no-repeat;
  padding-right: 260px;
  padding-left: 260px;
  padding-top: 130px;
  background-size: cover;
}

h1 {
  font-family: 'lobster', sans-serif;
  font-size: 50px;
  color: white;
  width: 600px;
  height: 150px;
  background-color: #283e50;
  text-align: center;
  margin: 0;
}

p {
  font-family: sans-serif;
  font-size: 25px;
  color: white;
  width: 600px;
  height: 200px;
  background-color: #283e50;
  text-align: center;
  display: block;
  margin: 0;
}

img {
  border-radius: 20px 20px 0px 0px;
  border: 0px solid black;
  height: 486px;
  width: 600px;
  margin: 0;
  display: block;
}

.tlacitko1 {
  background-color: #1fcca4;
  text-align: center;
  width: 600px;
  height: 70px;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  display: block;
  margin: 0;
}

.tlacitko2 {
  background-color: #0197f6;
  text-align: center;
  width: 600px;
  height: 70px;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  display: block;
  margin: 0;
}

.tlacitko1 a:hover {
  color: #1cbb96;
}

.tlacitko2 a:hover {
  color: #0090e9;
}
